<div class="container">
  <h2>Crear Producto</h2>
  <form [formGroup]="productoForm" (submit)="createProduct()">
    <div class="form-group">
      <label for="name">Nombre:</label>
      <input
        type="text"
        id="name"
        name="name"
        [(ngModel)]="newProduct.name"
        class="form-control"
        required
        formControlName="name"
      />
    </div>
    <div class="form-group">
      <label for="description">Descripción:</label>
      <textarea
        id="description"
        name="description"
        [(ngModel)]="newProduct.description"
        class="form-control"
        required
        formControlName="description"
      ></textarea>
    </div>
    <div class="form-group">
      <label for="price">Precio:</label>
      <input
        type="number"
        id="price"
        name="price"
        [(ngModel)]="newProduct.price"
        class="form-control"
        required
        formControlName="price"
      />
    </div>
    <div class="form-group">
      <label for="quantity">Cantidad:</label>
      <input
        type="number"
        id="quantity"
        name="quantity"
        [(ngModel)]="newProduct.quantity"
        class="form-control"
        required
        formControlName="quantity"
      />
    </div>
    <div class="form-group">
      <label for="image">URL de la Imagen:</label>
      <input
        type="text"
        id="image"
        name="image"
        [(ngModel)]="newProduct.imageUrl"
        class="form-control"
        required
        formControlName="image"
      />
    </div>
    <div class="form-group">
      <label for="category">Categoría:</label>
      <select
        id="category"
        name="category"
        [(ngModel)]="newProduct.category"
        class="form-control"
        required
        formControlName="category"
      >
        <option value="NA">N/A</option>
        <option
          *ngFor="let category of categories"
          [value]="category.categoryId"
        >
          {{ category.name }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="provider">Proveedor:</label>
      <select
        id="provider"
        name="provider"
        [(ngModel)]="newProduct.provider"
        class="form-control"
        required
        formControlName="proveedor"
      >
        <option value="NA">N/A</option>
        <option
          *ngFor="let provider of providers"
          [value]="provider.idProveedor"
        >
          {{ provider.name }}
        </option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Crear Producto</button>
  </form>
</div>
