/* Estilo para la barra de navegación */
.navbar {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para el logotipo en la barra de navegación */
.navbar-brand {
    font-weight: bold;
    font-size: 24px;
    color: #333;
}

/* Estilo para los elementos de menú de navegación */
.navbar-nav .nav-item {
    margin: 0 15px;
}

.navbar-nav .nav-link {
    font-weight: bold;
    color: #333;
}

.navbar-nav .nav-link:hover {
    color: #007BFF;
}

/* Estilo para el formulario de búsqueda */
.form-inline input[type="search"] {
    border: 1px solid #ccc;
}

/* Estilo para los botones */
.btn-outline-success {
    border-color: #007BFF;
    color: #007BFF;
}

.btn-outline-success:hover {
    background-color: #007BFF;
    color: #fff;
}
.button{
    border-style: none;
    border: none;
}
