<div class="container">
    <h2>Editar Proveedor</h2>
    <form (submit)="guardarCambios()">
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input
          type="text"
          id="nombre"
          name="nombre"
          [(ngModel)]="proveedor.name"
          class="form-control"
          required
        />
      </div>
      <div class="form-group">
        <label for="direccion">Dirección:</label>
        <input
          type="text"
          id="direccion"
          name="direccion"
          [(ngModel)]="proveedor.address"
          class="form-control"
          required
        />
      </div>
      <div class="form-group">
        <label for="telefono">Teléfono:</label>
        <input
          type="text"
          id="telefono"
          name="telefono"
          [(ngModel)]="proveedor.phone"
          class="form-control"
          required
        />
      </div>
      <div class="form-group">
        <label for="correo">Correo Electrónico:</label>
        <input
          type="email"
          id="correo"
          name="correo"
          [(ngModel)]="proveedor.email"
          class="form-control"
          required
        />
      </div>
      <button type="submit" class="btn btn-primary">Guardar Cambios</button>
    </form>
  </div>
  