<div class="container">
  <h2>Crear Categoría</h2>
  <form (submit)="createCategory()">
    <div class="form-group">
      <label for="name">Nombre de la Categoría:</label>
      <input type="text" id="name" name="name" [(ngModel)]="newCategory.name" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Crear Categoría</button>
  </form>

  <div *ngIf="categoriaCreada" class="alert alert-success mt-3">
    Categoría creada correctamente.
    <button class="close" (click)="cerrarConfirmacion()">&times;</button>
  </div>
</div>
